<div class="container p-5">
    <div class="card" style="border-radius: 1rem;">
      <div class="row">
        <div class="col-md-6 col-lg-5 d-none d-md-block">
          <img src="../../../assets/pexels-pixabay-266834.jpg"
            alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
        </div>
        <div class="col-md-6 col-lg-7 d-flex align-items-center">
          <div class="card-body p-4 text-black">
  
            <form [formGroup]="loginForm" (ngSubmit)="validate()">
  
              <div class="d-flex align-items-center">
                <i class="fas fa-cubes fa-2x me-3" style="color:rgb(255,215,0);"></i>
                <span class="h1 fw-bold mb-0">Logo</span>
              </div>
  
              <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
  
              <div class="form-outline">
                <input type="text" id="form2Example17" formControlName="username" class="form-control" placeholder="Enter username"/>
                <label class="form-label" for="form2Example17">Username</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="password" id="form2Example27" formControlName="password" class="form-control" placeholder="Enter password" />
                <label class="form-label" for="form2Example27">Password</label>
              </div>
  
              <div>
                <button class="btn btn-dark" type="submit">Login</button>
              </div>
  
              <a class="small text-muted" routerLink="/">Forgot password?</a>
              <p class="mb-5 pb-lg-2">Don't have an account? 
                <a routerLink="/reg" >Register here</a>
              </p>
            </form>
  
          </div>
        </div>
      </div>
    </div>
  </div>